@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 5px;
  text-decoration-color: rgba(0, 0, 0, 0.4);
}

.link:hover {
  text-decoration: none;
}

.writing {
  main {
    @apply max-w-[654px] my-36 text-lg px-5 sm:px-0;
  }

  h2 {
    @apply font-bold mt-20;
  }

  p {
    @apply my-5;
  }

  ol {
    @apply ml-5;
  }

  ol li {
    @apply my-3;
  }

  figure {
    @apply flex flex-col items-center;
  }
  figcaption {
    @apply text-sm mt-2;
  }
}
